
<form name="translater-search" class="qui-translater-search-form" method="post">
    {title group="package/translator" var="template.search.to.title"}
    <div class="data-table">
        <input type="text" value="" name="search" class="qui-translater-search-field" />
    </div>

    {title group="package/translator" var="template.search.in.title"}
    <div class="data-table">
        <div class="checkbox-container">
            <input type="checkbox" value="" name="groups" />
            <label for="groups">
                {t}package/translator template.search.groups{/t}
            </label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" value="" name="var" />
            <label for="var">
                {t}package/translator template.search.vars{/t}
            </label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" value="" name="datatype" />
            <label for="datatype">
                {t}package/translator template.search.datatype{/t}
            </label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" value="" name="datadefine" />
            <label for="datadefine">
                {t}package/translator template.search.datadefine{/t}
            </label>
        </div>
    </div>

    {title group="package/translator" var="template.search.lang.title"}
    <div class="data-table">
        {foreach from=$languages item=lang}
        <div class="checkbox-container">
            <input type="checkbox" value="{$lang}" name="lang" />
            <label for="lang">{$lang}</label>
        </div>
        {/foreach}
    </div>

</form>
