
<form name="translater-search" class="qui-translater-search-form" method="post">

    <table class="data-table">
    <thead>
        <tr>
            <th>
                {t}quiqqer/translator template.search.to.title{/t}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="odd">
            <td>
                <label>
                    <input type="text" value="" name="search" class="qui-translater-search-field" />
                    {t}quiqqer/translator template.search.field.text{/t}
                </label>
            </td>
        </tr>
        <tr class="even">
            <td>
                <label>
                    <input type="checkbox" value="" name="emptyTranslations" />
                    {t}quiqqer/translator template.search.emptyTranslations.text{/t}
                </label>
            </td>
        </tr>
    </tbody>
    </table>

    <table class="data-table">
    <thead>
        <tr>
            <th>
                {t}quiqqer/translator template.search.in.title{/t}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="odd">
            <td>
                <label>
                    <input type="checkbox" value="" name="groups" />
                    {t}quiqqer/translator template.search.groups{/t}
                </label>
            </td>
        </tr>
        <tr class="even">
            <td>
                <label>
                    <input type="checkbox" value="" name="var" />
                    {t}quiqqer/translator template.search.vars{/t}
                </label>
            </td>
        </tr>
        <tr class="odd">
            <td>
                <label>
                    <input type="checkbox" value="" name="datatype" />
                    {t}quiqqer/translator template.search.datatype{/t}
                </label>
            </td>
        </tr>
        <tr class="even">
            <td>
                <label>
                    <input type="checkbox" value="" name="datadefine" />
                    {t}quiqqer/translator template.search.datadefine{/t}
                </label>
            </td>
        </tr>
    </tbody>
    </table>

    <table class="data-table">
    <thead>
    <tr>
        <th>
            {t}quiqqer/translator template.search.lang.title{/t}
        </th>
    </tr>
    </thead>
    <tbody>
        {foreach from=$languages item=lang}
        <tr class="{cycle values="odd,even"}">
            <td>
                <label>
                    <input type="checkbox" value="{$lang}" name="lang" />
                    {$lang}
                </label>
            </td>
        </tr>
        {/foreach}
    </tbody>
    </table>

</form>
