@CHARSET "UTF-8";

.qui-translater-search-form {
    margin: 20px;
}

.qui-translater-editable-header {
    background: #dedede;
    clear: both;
    color: #555;
    float: left;
    margin: 20px 0 0 0;
    padding: 10px;
    width: 100%
}

.qui-translater-editable-header-text {
    float: left;
    line-height: 30px;
}

.qui-translater-editable {
    clear: both;
    float: left;
    margin: 0;
    width: 100%;
}

.qui-translator-export-group {
    float: left;
    margin-right: 5%;
    min-width: 150px;
    width: 35%
}

.qui-translator-export-group input {
    clear: left;
    float: left;
}

.qui-translator-export-group label {
    clear: right;
    float: left;
    line-height: 25px;
    width: 90%;
}

.qui-translator-export-language {
    float: left;
    margin-right: 5%;
    min-width: 150px;
    width: 25%
}

.qui-translator-export-type {
    float: left;
    min-width: 150px;
    width: 30%
}

.qui-translator-export-type input {
    clear: left;
    float: left;
}

.qui-translator-export-type label {
    clear: right;
    float: left;
    line-height: 25px;
}

.qui-translator-export-type label[for="qui-translator-export-type-edit-overwrite"] {
    width: 80%;
}

.qui-translator-import-descripton {
    display: block;
    margin-bottom: 10px;
}

.qui-translator-import-overwrite {
    display: block;
    margin-bottom: 10px;
}

.qui-translator-add-variable-text {
    margin-bottom: 20px;
}

.qui-translator-add-variable .data-table {
    border: none;
}

.qui-translator-add-variable .data-table td {
    padding-left: 0;
    padding-right: 0;
}

.qui-translator-add-variable .field-container-field button {
    border-radius: 0;
    box-shadow: none;
    float: right;
    height: 34px;
}

.group-display-text {
    float: left;
    padding: 8px;
}