<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <item parent="/extras/"
          name="translator"
          require="package/quiqqer/translator/bin/Panel"
          icon="URL_BIN_DIR/16x16/flags/default.png"
    >
        <locale group="quiqqer/translator" var="package.title"/>
    </item>
</menu>