
.quiqqer-translator-create {
    float: left;
    position: relative;
    width: 100%;
}

.quiqqer-translator-entry {
    clear: both;
    float: left;
    overflow: hidden;
    position: relative;
}

.quiqqer-translator-entry img {
    padding-right: 10px;
}
